<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key ="FromFilePath" value="" />
      <add key ="ToFilePath" value="" />
      <add key ="SVNServerPath" value="https://kabucom.backlog.jp/svn/CRESCO_DEV"/>
      <add key ="SVNTargetPath" value ="C:\SVN\" />
    </appSettings>
</configuration>